

// App Global Sass

// global color defs for toast
.successToast .toast-message  {
    background-color: rgba(38, 194, 129,0.5);
    color: white;
}

.errorToast .toast-message {
    background-color: rgba(217,30,24,0.5);
    color: white;
}

.small {
    font-size:1.2rem;
    color:grey;
}

.fa {
    padding-left:8px;
    padding-right:8px;
}


body {
    padding-top: constant(safe-area-inset-top);
}
