page-intro {
    .intro {
        color: white;
    }
    .intro .slideA {
        background-color: #BF55EC;
    }
    .intro .slideB {
        background-color: #8E44AD;
    }
    .intro .slideC {
        background-color: #D24D57;
    }
}